html * {
	font-family: Helvetica, Sans-Serif;
}
body{
	width: 100vw;
	max-width: 100%;
	margin: 0;
	border: 0;
	padding: 0;
}
.header {
	height: 50px;
	width: 100vw;
	background: #0971B2;
}
.header ul {
	float: left;
}
.header #logout {
	float: right;
	padding-right: 20px;
}
.header ul li {
	display: inline;
	background-color: white;
	padding: 10px 30px;
	border-radius: 25px;
	}
.header ul li a:link, a:visited {
	text-decoration: none;
	color: #0971B2;
}
.container{
	text-alignment: center;
	width: 50vw;
	margin: 0 auto;
	
}
.container>form>*{
	margin: 1vw auto;
}

